bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.idea/
.vs/
*.user
*.userosscache
*.suo
*.rsuser
*.DotSettings.user
*.sln.docstates
.vscode/
TestResults/
artifacts/
*.nupkg
*.snupkg
*.log
debug_screenshots/
