name: Publish Release

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write

jobs:
  build-release:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: 10.x

      - name: Test
        run: dotnet test AFKJourneyBot.sln -c Release

      - name: Publish
        run: |
          dotnet publish AFKJourneyBot.UI/AFKJourneyBot.UI.csproj `
            -c Release `
            -r win-x64 `
            --self-contained true `
            -p:PublishSingleFile=true `
            -p:IncludeNativeLibrariesForSelfExtract=true `
            -p:PublishReadyToRun=true `
            -p:EnableCompressionInSingleFile=true `
            -o publish\win-x64

      - name: Zip
        run: |
          Compress-Archive -Path publish\win-x64\* `
            -DestinationPath AFKJourneyBot-win-x64.zip

      - name: Create GitHub Release and upload assets
        uses: softprops/action-gh-release@v2
        with:
          files: |
            AFKJourneyBot-win-x64.zip
          generate_release_notes: true
